:root {
  font-family: 'Poppins', sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: rgb(27 88 178);
}

html,
body {

  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(135deg, #a1d1fc, #d9f7e1) !important;
  font-family: 'Poppins', sans-serif !important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: rgb(27 88 178);
  }

  button {
    background-color: #f9f9f9;
  }
}
label.btn.btn-outline-primary, 
label.btn.btn-outline-primary:hover{
    background: #c7dbf6;
    color: #2a5f78 !important;
    font-size: 14px;
}